<!DOCTYPE html>
<html>
<head>
<title>{{ name }} </title>
</head>
<body>
<h1>Hello my name is {{ name }} </h1>
{% load static %}
<img src="{% static '27973.jpg' %}" alt="Tio" width="300" height="300">
<article>NPM        : 1706022110</article>
<article>I am {{ age }} years old</article>
<article>HOBI       : Tenis Meja</article>
<article>KULIAH     : Fakultas Ilmu Komputer Universitas Indonesia</article>
<article>DESKRIPSI  : Manusia biasa yang melakukan kegiatan yang dilakukan oleh orang biasa di tempat yang biasa.</article>

<h1>Teman Kiri Saya </h1>
<article>NAMA       : Rizkhi Pramudhya H.</article>
<article>NPM        : 1706039669</article>
<article>HOBI       : Ngosu</article>
<article>DESKRIPSI  : Saya dipanggil PH udah itu aja sih yang penting.</article>

<h1>Teman Kanan Saya </h1>
<article>NAMA       : Ferril Zavier Fernaldy.</article>
<article>NPM        : 1706074631</article>
<article>HOBI       : Fotografi</article>
</body>
</html>